body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00b7ff;
}

tbody{
	overflow:scroll;
}

th{
	background-color: #80bfff; 
}

#datos_pelicula{
	display: none;
}

#calificacion{
	display: none;
}

#mytable{
	display: none;
}
