body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: black;
}

h1{
	color:white;
}

h4{
	color:gray;
}

.info{
	color:white;
}

#datos_pelicula{
	display: none;
}

#calificacion{
	display: none;
}

#mytable{
	display: none;
}

#covers{
	margin-top: 60px;
}
